<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Result</h4>
            </div>
            <div class="modal-body">
                <ul>
                    <li>Your car is <span class="text-info">{{selected.typecar.GroupName}} {{selected.typecar.Name}}</span></li>
                    <li>Your city is <span class="text-info">{{selected.city.Name}}</span></li>
                    <li>Car year is <span class="text-info">{{selected.years}}</span></li>
                    <li>Crash <span class="text-info">{{selected.scopeuse.Name}}</span></li>
                </ul>
                <p>Price:<span class="text-warning">{{calculation()}}</span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>